---
import CardLong from "../components/CardLong.astro";
import CardSmall from "../components/CardSmall.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="39rep">
  <main class="flex flex-col items-center">
    <!-- Diary -->
    <div class="mt-10 min-w-full">
      <div class="flex items-end">
        <h1 class="text-2xl">Diary</h1>
        <a href="/diary/" class="ml-2">→Read more</a>
      </div>
      <ul class="grid grid-cols-2 justify-center justify-items-stretch gap-2">
        <CardSmall
          title="sleeping now"
          description="I am kabigon."
          img_src="/assets/sleep_kabigon.png"
          alt="SleepingKabigon"
        />
        <CardSmall
          title="sleeping now"
          description="I am kabigon."
          img_src="/assets/koharu.jpg"
          alt="SleepingKabigon"
        />
      </ul>
    </div>

    <!-- Likes -->
    <div class="mt-10">
      <h1 class="text-2xl">Likes</h1>
      <ul class="grid grid-cols-2 justify-center justify-items-stretch gap-2">
        <CardLong
          title="初音ミク"
          description="宇宙で歌うVirtualSinger"
          img_src="/assets/space_miku.png"
          alt="HatsuneMiku"
        />
        <CardSmall
          title="タイトル"
          description="説明など何かあれば"
          img_src="/assets/space_miku.png"
          alt="てすとだよ"
        />
        <CardSmall
          title="タイトル2"
          description="説明など何かあれば2"
          img_src="/assets/3baka.jpg"
          alt="てすとだよ2"
        />
      </ul>
    </div>
  </main>
</Layout>
