---
interface Props {
  title: string;
  description: string;
  img_src: string;
  alt: string;
}

const { title, description, img_src, alt } = Astro.props;
---

<li
  class="col-span-2 mt-2 bg-blue-50 border shadow-xl rounded-xl hover:scale-105"
>
  <a href="#" class="grid grid-cols-2 p-2 md:p-3">
    <img src={img_src} alt={alt} class="col-span-1 w-auto rounded-xl" />
    <div class="col-span-1 ml-2">
      <h2 class="text-xl font-bold">{title}</h2>
      <p class="text-base">{description}</p>
    </div>
  </a>
</li>
