---
interface Props {
  title: string;
  description: string;
  img_src: string;
  alt: string;
}

const { title, description, img_src, alt } = Astro.props;
---

<li
  class="col-span-2 mt-2 w-auto bg-blue-50 border shadow-xl rounded-xl hover:scale-105 sm:col-span-1"
>
  <a href="#" class="grid p-2 sm:p-3">
    <img
      src={img_src}
      alt={alt}
      class="m-auto w-full max-h-44 object-cover rounded-xl"
    />
    <h2 class="text-xl font-bold">{title}</h2>
    <p class="text-base">{description}</p>
  </a>
</li>
