---
---

<!-- bio -->
<header class="mb-10 flex justify-start w-auto">
  <a href="/">
    <img
      src="/assets/swim_kirby.jpg"
      alt="SwimingKirby"
      class="rounded-full w-20"
    />
  </a>
  <div class="flex flex-col justify-center justify-items-stretch ml-3">
    <a href="/" class="text-xl font-bold">@39rep</a>
    <div class="ml-2 flex flex-col">
      <p class="-mb-1">にじさんじが好きな人</p>
      <a href="/about/" class="ml-2 hover:text-blue-700 hover:font-bold"
        >→About me</a
      >
    </div>
  </div>
</header>
