---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="39rep website." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/rep.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5058190780838197"
     crossorigin="anonymous"></script>
  </head>
  <body class="min-h-screen">
    <div class="h-24"></div>
    <div class="mx-auto px-8 max-w-3xl">
      <Header />
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
    font-family: system-ui, sans-serif;
  }
  html::-webkit-scrollbar {
    display: none;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
